/*Navegador 1*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    background-image: url("imagen.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;


}

header {
  
  display: flex;
    color: rgb(10, 9, 9);
    padding: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-left: 388px;
    margin-top: -60px;
}

nav li {
    display: inline; /* Hace que los ítems del menú estén en una línea horizontal */
    margin-right: 20px; /* Espacio entre los ítems del menú */
}

nav a {
    text-decoration: none;
    color: rgb(3, 72, 63);
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

nav a:hover {
    text-decoration: underline;
}

/*Linea de tiempo*/

.linea-tiempo {
    position: relative;
    width: 600px;
    max-width: 95vw;
    height: 100%;
    font-family: Arial;
    margin-left: 200px;
  }
  .imagen{
    margin-left: 90px;
    width: 100px;
    height: 100px;
    position: relative;
  }
  /* Pseudocodigo para hacer y posicionar la linea*/
  .linea-tiempo::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #000;
    left: 50%;
    height: 100%;
    border-radius: 10px;
  }
  /*Crear las cajas */
  .momento {
    position: relative;
    width: 45%;
    box-sizing: border-box;
  }
  /* Los recuadros pares*/
  .momento:nth-child(even) { 
    left: 55%;
  }
  /* Creación de círculos */
  .momento::after {
    content: '';
    position: absolute;
    top: calc(50% + 10px);
    right: calc(-11.11% - 11.5px);
    height: 20px;
    width: 20px;
    background-color: rgb(17, 15, 15);
    border-radius: 50%;
  }
  /*Posicionamiento del circulo impares*/
  .momento:nth-child(even)::after {
    left: calc(-11.11% - 8.5px);
  }
  
  /*Titulos de fecha*/
  .momento h3 {
    margin: 10px 0px;
    font-size: 30px;
    text-align: center;
  }
  
  /*Cambios de los textos de los recuadros*/
  .momento .descripcion {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 10px;
    line-height: 22px;
    font-size: 12px;
  }
  
  /*Bordes de los recuadros*/
  .momento .descripcion::after {
    content: '';
    position: absolute;
    right: -10px;
    top: calc(50% + 10px);
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #eee;
  }
  
  /*recuadro de pares*/
  .momento:nth-child(even) .descripcion {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  /*Bordes recuadro de pares*/
  .momento:nth-child(even) .descripcion::after{
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #000000;
    border-left: none;
  }

h1 {
  font-size: 400%;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(3, 72, 63);
}

